.content {
    text-align: center;
    background-color: rgb(241 241 241);
}
/*Nav bar*/
nav {
    border-style: solid;
    border-color: gainsboro
}
/*Background-image*/
.background-image {
    background-image: url(the-sea.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
/*Paragraphs*/
.lead {
    padding-left: 10%;
    padding-right: 10%;
}

#welcome > .lead {
    color: azure;
}
/*user review cards*/
.card {
    width: 18rem;
    margin:3px;
}

.card-body {
    height: 10rem;
    overflow-y: auto;
}

.card-title {
    border-radius: 1rem;
    background-color: gainsboro;
}

.profile {
    width: 33%;
    border-radius: 50%;
}
/*Footer*/
footer {
    background-color: gainsboro;
    width: 100%;
    position: relative;
    bottom: 0;
}
